<div class="sidebar">
  <div class="container sidebar-sticky">
    <img class="sidebar-img" src="/img/oma_2.png" />
      <div class="sidebar-about">
        <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
        <p class="lead">
        {{ with .Site.Params.description }} {{.}} {{ else }}birder full stack hobbyist geo nerd OSM contributor{{end}}
        </p>
        <p class="contact">
          <i class="fas fa-fw fa-envelope-open contact"></i>&nbsp;&nbsp;aruonakoski@gmail.com  
        </p>
        <p class="contact">
          <i class="fab fa-fw fa-telegram contact"></i>&nbsp;&nbsp;AnttiRuonakoski
        </p>
        <p class="contact">
          <i class="fab fa-fw fa-discord contact"></i>&nbsp;&nbsp;Antti#1110  
        </p>

      </div>
    <ul class="sidebar-nav">
      <li><a href="{{ .Site.BaseURL }}">Home</a> </li>
      {{ range .Site.Menus.main -}}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
      {{- end }}
    </ul>

    <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{ now.Format "2006"}}{{end}}</p>
  </div>
</div>
